
<h2 align="center"> {{title}} </h2>

<!--ngFor-->
<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h2>Simple example of *ngFor</h2> 
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table border ="2" class='table'>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Director</th>
                        <th>Cast</th>
                        <th>Release Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let movie of movies;">
                        <td>{{movie.title}}</td>
                        <td>{{movie.director}}</td>
                        <td>{{movie.cast}}</td>
                        <td>{{movie.releaseDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- ngIf-->
<div class='panel panel-primary'>
  <div class='panel-heading'>
      <h2>Simple example of *ngIf</h2> 
  </div>
 <div class="panel-body">
     
     <div class="row">
          Show <input type="checkbox" [(ngModel)] ="showMe"/>
     </div>
     
     <div class='row'>
          <div *ngIf="showMe">
                ShowMe is checked     
                             
          </div>
          <div *ngIf="!showMe">
                ShowMe is unchecked                  
          </div>
     </div>

  </div>
</div>

<!-- ng switch-->
<h2>Simple example of *ngSwitch</h2> 
<div class='panel panel-primary'>
  <div class='panel-heading'>
  </div>
 <div class="panel-body">
     Input string : <input type='text' [(ngModel)] ="num"/>

      <div [ngSwitch]="num">
          <div *ngSwitchCase="'1'">One</div>
          <div *ngSwitchCase="'2'">Two</div>
          <div *ngSwitchCase="'3'">Three</div>
          <div *ngSwitchCase="'4'">Four</div>
          <div *ngSwitchCase="'5'">Five</div>
          <div *ngSwitchDefault>This is Default</div>
      </div>
  </div>
</div>
<!--ngClass-->
<h2>Example of *ngClass</h2>
<div class="row">
  <div [ngClass]="{'red':true,'size20':true}">
      Red Text with Size 20px  : as object
  </div>
</div>
<h2>Example of *ngStyle</h2>
<!--ngStyle-->

Input string : <input type='text' [(ngModel)] ="color"/>
<div [ngStyle]="{'color': color}">
      <div [ngSwitch]="color">
          <div *ngSwitchCase="'1'">Green</div>
          <div *ngSwitchCase="'2'">Red</div>
          <div *ngSwitchCase="'3'">yellow</div>
          <div *ngSwitchCase="'4'">blue</div>
          <div *ngSwitchCase="'5'">cyan</div>
          <div *ngSwitchDefault>black</div>
      </div>
    </div>

<input [(ngModel)]="size" />
        <div [ngStyle]="{'font-size.px': size}">
                 Change my size
         </div>
<!-- pipes examples-->
<h2>Example of pipes</h2>
<p> Unformatted date : {{toDate }} </p>

<p> Formatted date : {{toDate | date}} </p>

<!--event examples-->
<div>
    <h2> Event Binding Example</h2>  
    <button (click)="onSave($event)">Save</button>
</div>
<!--Dynamic Component -->

<div>
    <h2> Dynamic Component Example</h2>
    <button (click)="add()">Dynamically Add Component</button>

    
    <div #container></div>
</div> 

<div>
<h2> ngModule Example</h2>  
<app-admin-dash-board></app-admin-dash-board>
<app-customer-dashboard></app-customer-dashboard>
</div>

<div>
    <h2> Forms Example-ReactiveForm</h2>  
    TechnologyUsed : <input type="text" [formControl] ="technologyUsed">
    <button (click)="setDefaultValue()">set Default</button>
</div>
<div>
    <h2> Forms Example-TemplateForm</h2>  
    TechnologyUsed : <input type="text" [(ngModel)] ="TechnologyUsedFor">
    {{TechnologyUsedFor}}
</div>

<h1> Template-Based Contact Form Example </h1>
<form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
    <label >Full Name : </label>
    <input type = "text"  name = "fullName" placeholder = "Your full name" ngModel>
    <br/>
    <label>Email : </label>
    <input type = "email" name = "email" placeholder = "Your email" ngModel>
    <br/>
    <label>Message : </label>
    <textarea name = "message" placeholder = "Your message" ngModel></textarea>
    <br/>
    <input type = "submit" value = "Send">
  </form>


  <h2>Life cycle hook</h2>
  <hello  *ngIf ="show" name="{{name}}"></hello>

  <p>start Your typing</p>
  <input [(ngModel)] ="name" />

  <button (click) ="toggle()">Toggle</button>
